<h1 class="insta_f2 text-center"><span class="material-icons favorite">favorite</span>Favorites</h1>

<ul class="picture_list row">
<% if @favorites.size != 0 %>
  <% @favorites.each do |favorite| %>
    <li class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="upper flex">
        <p class="item"><span class="material-icons camera">camera_enhance</span><span class="heading">User: <%= favorite.picture.user.name %></span></p>
        <p class="btn_block item">
          <span class="material-icons">important_devices</span><%= link_to 'Show', picture_url(favorite.picture.id) %>
          <% if favorite.picture.user_id == current_user.id %>
            <span class="material-icons">edit</span><%= link_to 'Edit', edit_picture_path(favorite.picture.id), data: { confirm: '本当に編集していいですか？' } %>
            <span class="material-icons">delete</span><%= link_to 'Destroy', picture_path(favorite.picture.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
          <% end %>
        </p>
      </div>
      <p><%= image_tag favorite.picture.image.url %></p>
      <div class="lower">
        <p><span class="heading">Title:</span><%= favorite.picture.title %></p>
        <p class="content"><span class="heading">Content:</span><%= favorite.picture.content %></p>
      </div>
    </li>
  <% end %>
<% else %>
    <li class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="upper flex">
        <p>お気に入り登録はまだありません。</p>
      </div>
    </li>
<% end %>
</ul>
