<h1>確認画面</h1>

<%= form_with(model: @user, url: user_path, local: true) do |form| %>
<%= form.hidden_field :name %>
<%= form.hidden_field :email %>
<%= form.hidden_field :password %>
<%= form.hidden_field :password_confirmation %>
<%= form.hidden_field :image_cache %>

  <div class="field">
    <p class="label">Name:</p>
    <p><%= @user.name %></p>
  </div>

  <div class="field">
    <p class="label">Email:</p>
    <p><%= @user.email %></p>
  </div>

  <div class="field">
    <p class="label">Password:</p>
    <p><%= @user.password %></p>
  </div>

  <div class="field">
    <p class="label">Image:</p>
    <p><%= image_tag(@user.image.url) if @user.image && @user.image.url %></p>
  </div>

  <div class="actions">
    <%= form.submit "編集する" %>
  </div>
<% end %>

<%= form_with(model:@user, url:user_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
