<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<article class="sign_form col-sm-12 col-md-6 col-md-offset-3">
  <h1 class="text-center insta_f2">Sign up</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :email %>
    <%= f.email_field :email %></p>
    <p><%= f.label :password %>
    <%= f.password_field :password %></p>
    <p><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %></p>
    <p class="text-center"><%= f.submit "新規登録する", class: "submit btn btn-primary btn-lg" %></p>
  <% end %>
</article>
