<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key} flash_message alert alert-info") %>
      <% end %>
      <header class="row">
        <nav class="navbar navbar-default  col-sm-12 col-md-10 col-md-offset-1">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
                <span class="sr-only insta_f1">InstagramClone</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand insta_f1" href="#">InstagramClone</a>
            </div>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <% if logged_in? %>
                  <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
                  <li><%= link_to "写真一覧", pictures_path %></li>
                  <li><%= link_to "お気に入り", favorites_path %></li>
                  <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
                <% else %>
                  <li><%= link_to "新規登録", new_user_path %></li>
                  <li><%= link_to "ログイン", new_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
